# Problem Statement

We would like to add a feature for recommended tickers and weights.


## High Level Design

* This can be run weekly/fortnightly. 

* We will download data for the top 50 tickers for a given index. 

* Get the sharpe ratios based on criteria - 5 years data, 2 years data, 1 year data. Average them out and take the top 20, discard the rest

* Use the top 20, run Efficient Frontier for min volatility and max sharpe. Display these data with some text explanation (**OpenAI??**)

In [53]:
import pandas as pd
import json 

from UtilFuncs.get_yfinance_data import *
from UtilFuncs.calculations import *
from UtilFuncs.visualizations_1 import *

In [2]:
index_to_run = "^AXJO"

### Step1: Download all data

In [ ]:

# Get all tickers for this index
with open('Resources/symbols_list.json', 'r') as json_file:
    symbols_dict = json.load(json_file)

tickers_names = symbols_dict[index_to_run]
# The symbols are retrieved in this format: "NAB.AX: National Australia Bank". 
# We will need to split at the : and take the first part as our ticker codes
tickers_all = [ticker.split(":")[0] for ticker in tickers_names]

**Call yfinance download and fetch prices for 10 years**

In [ ]:
df_prices_all = pd.DataFrame()
# We'll run in batches of 5 to support multithreading
for i in range(10):
    start_index = 5 * i 
    end_index = start_index + 5
    tickers = tickers_all[start_index:end_index]
    print(tickers)

    if len(df_prices_all) == 0: 

        df_prices_all = get_securities_prices(tickers=tickers, download_tnx=False)

    else: 

        df_prices_all = pd.concat([df_prices_all, get_securities_prices(tickers=tickers, download_tnx=False)], axis="columns")

In [ ]:
print(df_prices_all.shape)

*there are 2529 rows, which is about 10 years X 252 business days per year, so it looks right to me*

**We will also need the index prices for the same period, and append it to the end of the DF**

In [ ]:
df_prices_all = pd.concat([df_prices_all, get_securities_prices(tickers=[index_to_run], download_tnx=False)], axis="columns") 
df_prices_all.head()

In [ ]:
df_prices_all.index.dtype

In [ ]:
df_prices_all.to_csv(f"Resources/Recommendations_{index_to_run}_stocks_data.csv", index=True)

#### Step1 Complete. The price data for 10 years has been saved to the csv file

### Step2: Get the sharpe ratios based on criteria - 5 years data, 2 years data, 1 year data. Average them out and take the top 20, discard the rest

In [31]:
df_prices_all = pd.read_csv(f"Resources/Recommendations_{index_to_run}_stocks_data.csv", index_col=0, parse_dates=True, infer_datetime_format=True)
df_prices_all.head(2)

,ANZ.AX,BHP.AX,CBA.AX,CSL.AX,WBC.AX,FMG.AX,GMG.AX,MQG.AX,NAB.AX,WOW.AX,...,MGR.AX,QAN.AX,TAH.AX,VCX.AX,BLD.AX,EVN.AX,GPT.AX,MPL.AX,SGP.AX,^AXJO
Date,,,,,,,,,,,,,,,,,,,,,
2013-09-09,17.343498,18.547699,45.282280,58.551270,18.952793,1.895105,3.627663,29.029781,17.661514,25.362722,...,1.069150,1.258783,1.911937,1.273060,3.328157,0.658314,2.196738,NaN,2.072585,5181.500000
2013-09-10,17.476728,18.683008,45.448334,58.031803,19.237709,1.920656,3.627663,29.732576,17.799913,25.392027,...,1.062748,1.263377,1.936139,1.256161,3.406551,0.643603,2.196738,NaN,2.094344,5201.200195

In [32]:
# Call the function defined in UtilFuncs.calculations.py
dict_dfs = calculate_metrics(df_prices_all)
dict_dfs.keys()

dict_keys(['combined_returns', 'cum_returns', 'cum_returns_sma', 'cum_returns_std', 'volatility', 'returns_variance', 'cov_matrix', 'df_metrics'])

In [33]:
df_prices_all.shape

(2529, 51)

**Final code**

Call the function defined in UtilFuncs.calculations.py

In [35]:
df_sharpe_ratios = pd.DataFrame()
col_names = []
for num in [5, 2, 1]: 

    dict = calculate_metrics(df_prices_all, years=num)
    df_sharpe_ratios = pd.concat([df_sharpe_ratios, dict['df_metrics']['Sharpe_Ratio']], axis="columns")
    col_names += [f'Sharpe_Ratio_{num}']
    
df_sharpe_ratios.columns = col_names

Running calculate_metrics on period: 2018-09-06 to 2023-09-05
Running calculate_metrics on period: 2021-09-05 to 2023-09-05
Running calculate_metrics on period: 2022-09-05 to 2023-09-05

In [36]:
df_sharpe_ratios['Sharpe_Ratio_Score'] = df_sharpe_ratios.mean(axis=1)

In [43]:
df_sharpe_scores = df_sharpe_ratios.sort_values(by='Sharpe_Ratio_Score', ascending=False)

##### **Outcome**: We have the dataframe which has the securities sorted by Sharpe Ratios

### Step3: Use the top 20, run Efficient Frontier for min volatility and max sharpe. Display these data

In [50]:
top_20 = df_sharpe_scores.index[:20].to_list() 
print(top_20)

['FMG.AX', 'WDS.AX', 'BXB.AX', 'ORG.AX', 'QBE.AX', 'RIO.AX', 'NCM.AX', 'BHP.AX', 'SUN.AX', 'COH.AX', 'REA.AX', 'CPU.AX', 'EVN.AX', 'GMG.AX', 'BLD.AX', 'WES.AX', 'IAG.AX', 'SGP.AX', 'BSL.AX', 'CBA.AX']

In [48]:
# Slice the prices dataframe to discard rest of the ticker symbols
df_prices_top_20 = df_prices_all[top_20]
df_prices_top_20.head(2)

,FMG.AX,WDS.AX,BXB.AX,ORG.AX,QBE.AX,RIO.AX,NCM.AX,BHP.AX,SUN.AX,COH.AX,REA.AX,CPU.AX,EVN.AX,GMG.AX,BLD.AX,WES.AX,IAG.AX,SGP.AX,BSL.AX,CBA.AX
Date,,,,,,,,,,,,,,,,,,,,
2013-09-09,1.895105,22.043320,6.087206,8.839066,11.589579,39.172737,11.709445,18.547699,8.37161,47.705681,33.855453,7.430946,0.658314,3.627663,3.328157,17.813351,3.673750,2.072585,4.613614,45.282280
2013-09-10,1.920656,21.958973,6.045514,8.934042,11.309604,39.760811,11.399905,18.683008,8.32572,48.247791,34.252201,7.552641,0.643603,3.627663,3.406551,17.843899,3.660653,2.094344,4.667157,45.448334

In [51]:
df_prices_top_20.shape

(2529, 20)

Good, so we now have a dataframe for the historical prices for top 20 securities

Just testing if it works!

In [57]:
ef_outcomes = run_ef_with_random(df_prices_top_20.copy())

Now to export this dataframe to csv. 

The streamlit app will read from this csv, run the EF simulations and display the outcomes in the **Recommendations**  tab

In [58]:
df_prices_top_20.to_csv("Resources/Recommendations_top_20_prices.csv", index=True)

In [60]:
df_prices = pd.read_csv("Resources/Recommendations_top_20_prices.csv", index_col=0, parse_dates=True, infer_datetime_format=True)
df_prices

,FMG.AX,WDS.AX,BXB.AX,ORG.AX,QBE.AX,RIO.AX,NCM.AX,BHP.AX,SUN.AX,COH.AX,REA.AX,CPU.AX,EVN.AX,GMG.AX,BLD.AX,WES.AX,IAG.AX,SGP.AX,BSL.AX,CBA.AX
Date,,,,,,,,,,,,,,,,,,,,
2013-09-09,1.895105,22.043320,6.087206,8.839066,11.589579,39.172737,11.709445,18.547699,8.371610,47.705681,33.855453,7.430946,0.658314,3.627663,3.328157,17.813351,3.673750,2.072585,4.613614,45.282280
2013-09-10,1.920656,21.958973,6.045514,8.934042,11.309604,39.760811,11.399905,18.683008,8.325720,48.247791,34.252201,7.552641,0.643603,3.627663,3.406551,17.843899,3.660653,2.094344,4.667157,45.448334
2013-09-11,2.044158,21.705921,6.101104,8.959369,11.442224,40.563858,11.054986,18.906786,8.410944,48.965050,33.388187,7.697153,0.639925,3.597050,3.456438,17.987907,3.693395,2.110664,4.702853,45.595924
2013-09-12,1.984536,21.801521,6.177543,8.921379,11.346441,40.595478,10.816200,19.036892,8.345386,49.982552,33.194214,7.757998,0.654636,3.597050,3.449311,18.075184,3.680298,2.094344,4.711776,45.497536
2013-09-13,1.941950,21.655313,6.163644,8.820070,11.162246,39.887264,10.630479,18.839132,8.358497,50.040928,32.735756,7.643911,0.595792,3.650624,3.392298,18.158098,3.699945,2.105224,4.640386,45.399136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-29,19.490147,37.346039,14.150000,8.488608,14.640000,109.879997,25.730000,44.090000,13.120000,266.250000,162.025482,24.740000,3.610000,22.920000,5.030000,52.629997,5.690000,4.210000,20.879999,101.029999
2023-08-30,20.364828,37.630001,15.150000,8.508145,14.700000,112.230003,26.150000,44.730000,13.440000,273.260010,163.099991,25.139999,3.710000,23.200001,4.630000,53.250000,5.770000,4.230000,21.010000,101.839996
2023-08-31,20.374334,37.020000,14.970000,8.508145,14.980000,112.900002,26.030001,44.849998,13.630000,271.489990,165.080002,25.180000,3.710000,23.360001,4.720000,53.869999,5.820000,4.240000,21.010000,102.180000
2023-09-01,19.299999,37.599998,14.960000,8.517914,15.110000,114.230003,25.770000,44.740002,13.660000,268.500000,163.690002,25.260000,3.630000,23.030001,4.820000,53.849998,5.830000,4.220000,21.440001,101.349998
2023-09-04,20.200001,38.240002,15.040000,8.430000,14.980000,117.120003,25.950001,45.930000,13.640000,267.899994,162.240005,25.139999,3.640000,23.170000,4.720000,53.599998,5.790000,4.230000,21.930000,102.010002